[user]
    name = Yauheni Mokry
    # TODO: Replace with generic git@
    email = github@sl.mokry.me

[init]
    defaultBranch = main

[core]
    # TODO: Replace with cli editor
    editor = code --wait
    excludesfile = ~/.config/git/.gitignore

[pull]
    rebase = true

[include]
    path = ~/.config/git/github.gitconfig
    path = ~/.config/git/pager.gitconfig
    path = ~/.config/git/sign.gitconfig

[includeIf "gitdir:~/Developer/playgon/"]
    path = ~/.config/git/playgon.gitconfig
