[user]
    name = Yauheni Mokry
    email = git@sl.mokry.me

[init]
    defaultBranch = main

[core]
    editor = nvim
    excludesfile = ~/.config/git/.gitignore

[pull]
    rebase = true

[include]
    path = ~/.config/git/github.gitconfig
    path = ~/.config/git/pager.gitconfig
    path = ~/.config/git/sign.gitconfig

[includeIf "gitdir:~/Developer/playgon/"]
    path = ~/.config/git/playgon.gitconfig
