"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[manager]
ratio = [2, 3, 3]
show_hidden = true

[[plugin.prepend_fetchers]]
id = "git"
name = "*"
run = "git"

[[plugin.prepend_fetchers]]
id = "git"
name = "*/"
run = "git"
